.container-fluid {
  padding: 20px;
  background-color: #f69d04;
  margin-bottom: 30px;
  border: 3px solid #f68104; }
  .container-fluid .nav-item {
    margin-left: 80px;
    margin-bottom: 5px; }
    .container-fluid .nav-item .nav-link {
      font-size: 140%;
      font-family: 'Bebas Neue', cursive;
      border-bottom: 3px solid #f68104;
      border-top: 3px solid #f68104;
      text-align: right; }
      .container-fluid .nav-item .nav-link:hover {
        border-bottom: 3px solid black;
        border-top: 3px solid black;
        -webkit-text-fill-color: white; }

nav div a img {
  border: 2px solid #f68104;
  border-radius: 20%; }
  nav div a img:hover {
    border: 2px solid black; }

.dropdown-menu {
  border: 2px solid black;
  background-color: #f69d04; }
  .dropdown-menu .dropdown-item {
    text-align: center;
    font-family: 'Bebas Neue', cursive; }

.cards {
  margin-top: 30px;
  margin-bottom: 55px; }
  .cards .card-index {
    border: groove 2px #f68104;
    margin-bottom: 30px;
    padding-bottom: 20px; }
    .cards .card-index:hover {
      opacity: 50%; }
    .cards .card-index .card-text {
      text-align: center;
      font-family: 'Bebas Neue', cursive;
      color: #f69d04; }

.card-row {
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px dashed #f69d04; }
  .card-row .card-body {
    margin-top: 40px;
    margin-bottom: 40px; }
    .card-row .card-body .card-title {
      text-align: center;
      font-family: 'Bebas Neue', cursive;
      font-size: 300%;
      padding: 20px;
      color: #f69d04; }
    .card-row .card-body .card-text {
      text-align: center;
      font-family: 'Bebas Neue', cursive;
      color: #f69d04; }
  .card-row .card-var {
    margin-top: 60px; }
    .card-row .card-var .list-group-item {
      background-color: black;
      color: white;
      font-family: 'Bebas Neue', cursive;
      text-align: center; }

.centrado {
  text-align: center; }
  .centrado .card-img-bottom {
    width: 50%;
    margin-top: 30px; }
    .centrado .card-img-bottom:hover {
      opacity: 50%; }

.card-suc .card-img-top:hover {
  opacity: 50%; }

.card-suc .card-title {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 300%;
  padding: 20px;
  color: #f69d04; }

.card-suc .card-text-ubi {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: white; }

footer {
  padding: 20px;
  background-color: grey;
  margin-bottom: 30px; }
  footer .txtFooter {
    font-size: 110%;
    color: black;
    padding: 20px;
    font-family: 'Bebas Neue', cursive;
    opacity: 50%; }
    footer .txtFooter:hover {
      opacity: 100%;
      color: #f69d04; }
  footer section {
    padding-top: 20px;
    text-align: center; }
    footer section img {
      height: 20px;
      border-radius: 20%;
      margin-left: 5px;
      margin-right: 5px; }
      footer section img:hover {
        opacity: 50%; }

.form-control {
  border: 2px solid #f69d04;
  background-color: black;
  -webkit-text-fill-color: white; }

.form-check-label {
  color: #f69d04; }

.btn {
  background-color: #f69d04;
  border: 3px solid #f68104;
  margin-bottom: 30px;
  font-family: 'Bebas Neue', cursive;
  font-size: 120%; }
  .btn:hover {
    background-color: white;
    border: 3px solid #f68104; }

* {
  padding: 0;
  margin: 0;
  box-sizing: 0; }

body {
  background-color: black; }

main div h2 {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 200%; }

.h2 {
  background-color: white;
  padding: 20px; }
